@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	background-color: '#16161e';
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

::-webkit-scrollbar-track {
	background: #1e1e24;
}

::-webkit-scrollbar-thumb {
	background: #ff9e64;
}

.pixel {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}
